/*
CSS for Hangman Game
*/

.header {
    text-align:center;
  }
  
  #score_section {
    background-color:#eee;
    
  }
  
  #gameBoard {
    
    background-color:#222;
    height:300px;
    color:#fff;
    padding: 20px;
    
  }
  
  #gameWord {
  
    margin-top:100px;
    text-align:center;
    color:#fff;
    
  }
  
  #gameStatus {

    text-align:center;
    padding:20px;

  }

  #guesses {

    text-align:center;

  }

  #resetButton {

    background-color:rgb(108, 116, 112);
    width : 50%;
    height: 80px;
    opacity: .5;
    transition-duration: 2000ms;
  }

  #resetButton:hover {

    background-color:rgb(rgb(226, 12, 12), green, blue);
    color: #fff;
    width : 75%;
    opacity: 1.0;
    transition-duration: 2000ms;


  }

